<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Website</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./header/header.css" />
    <link rel="stylesheet" href="./about/about.css" />
    <link rel="stylesheet" href="./experience/experience.css" />
    <link rel="stylesheet" href="./projects/projects.css" />
  </head>
  <body>
    <header id="header"></header>
    <main>
      <section id="about"></section>
      <section id="experience"></section>
      <section id="projects"></section>
    </main>
    <script type="module" src="./js/main.js"></script>
  </body>
</html>
